<nav class="flex flex-col items-center justify-between">
  <div class="logo w-full p-2">
    <p class="text-xl font-bold"><a href="#">MOVIE CATALOG</a></p>
  </div>
  <div
    class="menu w-full flex flex-col justify-start sm:flex-row sm:justify-between"
  >
    <div class="flex justify-between p-2">
      <ul class="flex text-sm">
        <app-nav-bar-item>Home</app-nav-bar-item>
        <app-nav-bar-item>Contact</app-nav-bar-item>
        <app-nav-bar-item>Advertise</app-nav-bar-item>
        <app-nav-bar-item>Donate</app-nav-bar-item>
      </ul>
    </div>
    <app-search-bar></app-search-bar>
  </div>
</nav>
